body {
  margin: 0px;
}
.webstudio2 {
  width: 145px;
  color: #278fe8;
  width: 145px;
  color: #278fe8;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}

.header {
  width: 1600px;
  height: 80px;
}

.main-container {
  width: 1170px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.header-container ul {
  list-style: none;
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  margin-left: -400px;
}

.header-container ul li {
  margin-right: 50px;
  font-weight: 600;
}

.header-container div a {
  margin-right: 50px;
}

.button {
  background-color: white;
}

.title-button {
  height: 38px;
  color: #212121;
  background-color: #F5F4FA;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-right: 8px;
  border-radius: 4px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 18px;
}

.title-button:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}

.filters-container {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #212121;
}

.header-text:hover {
  color: #2196F3;
}

.logo {
  width: 145px;
  color: #2196F3;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}

.headerlink {
  color: #757575;
}

.headerlink:hover {
  color: #2196F3;
}

.content{
 width: 1600px;
}

.container-images-1 {
  width: 270px;
}

.circular-container2 {
  background: #FFFFFF;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 370px;
}
.images-line1 img {
  width: 300px;
}
.images-container{
  display:flex;
  width: 1170px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto 80px auto;
}
 .circular-container2 img {
  width: 370px;
 }
.footer2 {
  background-color: #2f303a;
}

.footertext {
  color: #FFFFFF
}

.footer-links {
  color: rgba(255, 255, 255, 0.6);
}