body{
  margin: 0;
}
​
.header {
  width: 1600px;
 height: 80px;
}
.main-container{
  width: 1170px;
  margin: 0 auto;
}
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #2f303a;
}
.title {
  color: white;
  
  border-radius: nullpx;
  font-family: Roboto;
  font-style: normal;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.footer1 {
  width: 1600px;
  height: 252px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2f303a;
}
.footer-container {
  margin-left: 215px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.webstudio {
  width: 145px;
  color: #278fe8;
}
.footer-links {
  color: rgba(255, 255, 255, 0.6);
}
.title1 {
  height: 16px;
  width: 270px;
  left: 215px;
  top: 775px;
  border-radius: nullpx;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.section1-container{
  width: 697px;
  justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.container {
  display: flex;
  width: 1600px;
}
.content {
  display: inline;
}
.container-images-1 {
  display: flex;
}
.image-desktop {
  width: 373.16px;
  height: 323.7px;
}
.title2 {
  text-align: center;
  font-family: "Roboto";
}
.titlebutton {
  color:#FFFFFF;
  background-color: #2196f3;
  padding: 10px 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border: none;
  border-radius: 4px;
}
.container-images-2 {
  width: 270px;
}
.circular-container2 {
  background: #FFFFFF;
/* material shadow v1 */
​
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.container-images-2 img {
  width: 300px;
  display:flex;
  justify-content: center;
}
a{
  text-decoration: none;
  color: #212121;
}
.header-text:hover {
  color: #2196F3;
}
.logo {
  width: 145px;
  color: #2196F3;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.headerlink {
  color: #757575;
}
.headerlink:hover {
  color: #2196F3;
}
.container-section-4 {
  display:flex;
}
​
​
/* Estilos nuevos */
​
.header-container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}
​
.header-container ul{
  list-style: none;
  display: flex;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
margin: 0;
margin-left: -400px;
}
.header-container ul li{
  margin-right: 50px;
  font-weight: 600;
}
​
.header-container div a{
  margin-right: 50px;
}
.section4 {
  width: 1600px;
}
.section3 {
  width: 1600px;
}
.texts {
  display:flex;
}